<div class="container">
  <section>
    <div class="form_position">
        <div class="title">
          <h2>施設情報の編集</h2>
        </div> 
        <%= render "shared/error", obj: @room %>
        <div class="register_form">
          <%= form_with model: @room do |f| %>
          <div class="form_label">
            <%= f.label :facility_name ,"施設名", class:"Required" %>
            <%= f.text_field :facility_name,class:"input is-link", placeholder: "ルーム名を入力" %>
          </div>
          <div class="form_label">
            <%= f.label :facility_detail ,"施設詳細", class:"Required"  %>
            <%= f.text_area :facility_detail,class:"input is-link text_area", placeholder: "施設詳細を入力" %>
          </div>
          <div class="form_label">
            <%= f.label :price ,"料金", class:"Required"  %>
            <%= f.text_field :price,class:"input is-link", placeholder: "1日あたりの料金を入力" %>
          </div>
          <div class="form_label">
            <%= f.label :address ,"住所", class:"Required"  %>
            <%= f.text_field :address,class:"input is-link", placeholder: "住所を入力" %>
          </div>
          <div class="form_label">
            <%= f.label :facility_img ,"施設画像" %>
            <%= f.file_field :facility_img,class:"img"%>
          </div>

            <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="footer_button">
            <a href="/rooms/own"><button type="button" class="button">キャンセル</button></a>
            <input type="submit" name="commit" value="登録完了" class="button is-link" data-disable-with="保存" />
          </div>
          <% end %>
        </div>
      </div>
  </section>
</div>